h1 {
  text-align: center;
}

.container {
  padding: 10vw;
}

.image-div {
  /* display: flex; */
  /* text-align: center; */
  /* width: 100px; */
  /* height: 100px; */
  display: flex;
  justify-content: center;
  /* margin-left: auto; */
}

.projectImage {
  width: 100px;
  height: 100px;

  /* text-align: center; */
  /* align-self: center; */
  /* justify-content: center; */
}
